# Ignore EVERYTHING
*

# Allow directories so git can descend
!*/

# === ALLOWED FLUTTER PROJECTS ===
!solair/**
!syndic/**
!tennis/**
!tennis2/**
!zakaat_calculator/**

# Allow ONLY Flutter essentials
!**/pubspec.yaml
!**/lib/**
!**/assets/**

# Always allow git meta
!.gitignore
!README.md
